@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

html {
  color: #222;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", "MS PGothic", "ＭＳ Ｐゴシック", Osaka, arial, helvetica, sans-serif;
}

body {
  background-color: #fff;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.font_serif {
  font-family: "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "MS PMincho", "Times New Roman", Times, serif, sans-serif;
}

.pc_br {
  display: none;
}

@media (min-width: 769px), print {
  .sp_br {
    display: none;
  }

  .pc_br {
    display: inline;
  }
}
/**
 * Helpers
 */
/* Image replacement */
.ir {
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.invisible {
  visibility: hidden;
}

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* Rollover */
.btn_roll01:hover img {
  opacity: 0.7;
}

.btn_roll02:hover {
  opacity: 0.7;
}

/**
 * Form controls
 */
::-moz-placeholder {
  color: #6f6f6f;
}
:-ms-input-placeholder {
  color: #6f6f6f;
}
::placeholder {
  color: #6f6f6f;
}

textarea, [type=text], [type=email], [type=tel], [type=search], [type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  padding: 0.2em 0.5em;
  font-size: 16px;
  min-width: 0;
}
textarea:focus, [type=text]:focus, [type=email]:focus, [type=tel]:focus, [type=search]:focus, [type=password]:focus {
  border-color: #43aeda;
}

[type=file] {
  cursor: pointer;
}

select {
  height: 2em;
  border: 1px solid #a0a0a0;
  border-radius: 0;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}
select:focus {
  border-color: #43aeda;
}

/**
 * Library
 */
/* Lightbox */
.blackbox_wrap {
  display: none;
}

.blackbox_layer {
  opacity: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  padding: 20px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  white-space: nowrap;
}
.blackbox_layer:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.blackbox_inner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  text-align: left;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch;
  white-space: normal;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #fff;
  transform: scale(0) translate3d(0, -100%, 0);
}
.blackbox_inner.js_blackbox_play {
  transform: scale(1) translate3d(0, 0, 0);
  transition: all 0.4s;
}

.blackbox_close {
  position: absolute;
  right: -10px;
  top: -20px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7) url(../images/blackbox_ico01.svg) no-repeat 50% 50%;
  background-size: 30px 30px;
  border-radius: 4px;
  text-indent: -9999px;
}

/* Others */
.pagetop_btn {
  overflow: hidden;
  position: fixed;
  right: 10px;
  bottom: 110px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8) url(../images/pagetop_ico01.svg) no-repeat 50% 50%;
  background-size: 20px auto;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  text-indent: -999px;
}
.pagetop_btn.js_pagetop_btn_active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s;
}